  button, input
      {
           font-size:30px;
           font-weight:bold;
           width:100px;
           height:100px;
      }
      #stop
      {
        position:absolute;
        left:110px;
        top:110px;
      }
      #left
      {
        position:absolute;
        left:0px;
        top:110px;
      }
      #right
      {
        position:absolute;
        left:220px;
        top:110px;
      }
      #forward
      {
        position:absolute;
        left:110px;
        top:0px;
      }
      #back
      {
        position:absolute;
        left:110px;
        top:220px;
      }

