<style>
  .self-intro-words
  {
    margin: 70px 70px 70px 70px;
  }
</style>

<div class="container" style="font-family: Georgia;">
  <div class="row">
    <div class="col-md-4"><p class="self-intro-words">我是李龙毅。</p></div>
    <div class="col-md-4"><img src="http://farm9.staticflickr.com/8302/7979004473_bcdc90bffa_n.jpg" width="320" height="319" alt="avatarBack"></div>
    <div class="col-md-4"><p class="self-intro-words">My name is Longyi Li.</p></div>
  </div>
  
  <div class="row">
    <div class="col-md-4"><p class="self-intro-words">2013年我在北京创业，和志同道合的朋友们一起创办了<a href="https://huantengsmart.com">幻腾智能</a>。</p></div>
    <div class="col-md-4"><img src="images/th.jpg"></div>
    <div class="col-md-4"><p class="self-intro-words">I started <a href="https://huantengsmart.com">Phantom Inc.</a> with friends in 2013.</p></div>
  </div>
  
  <div class="row">
    <div class="col-md-4"><p class="self-intro-words">从2012年2月开始，我在甲骨文公司做iOS应用程序开发，于12月辞职回国。</p></div>
    <div class="col-md-4"><img src="images/oracle-hq.jpg"></div>
    <div class="col-md-4"><p class="self-intro-words">I worked in Oracle as an iOS programmer from Feb 2012 to Dec 2012.</p></div>
  </div>
  
  <div class="row">
    <div class="col-md-4"><p class="self-intro-words">2011年冬天，我完成了在宾夕法尼亚大学计算机系的硕士课程，结束了最值得怀念的学生时代。</p></div>
    <div class="col-md-4"><img src="images/Upenn.jpg"></div>
    <div class="col-md-4"><p class="self-intro-words">With a Master of Computer &amp; Information Science Degree, I graduated from University of Pennsylvania in 2011 Winter.</p></div>
  </div>
  

  
  
  <div class="row">
    <div class="col-md-4"><p class="self-intro-words">本科永远是最难忘的，2010年秋天带着4年美好的回忆，我从清华大学电子系毕业。</p></div>
    <div class="col-md-4"><img src="images/Tsinghua.jpg"></div>
    <div class="col-md-4"><p class="self-intro-words">I got my Bachelor of Engineering in Electronic Engineering from Tsinghua University, China in June 2010.</p></div>
  </div>
  
  <div class="row">
    <div class="col-md-4"><p class="self-intro-words">我喜欢做一些有意思的东西，尤其是每天都能用的。比如这个<a href= "http://www.youtube.com/watch?v=tbmCpkzOdfE&feature=plcp">无线体重秤</a>就是我业余时间做的(<a href="http://lly8877.github.com/WeightScaleHack/">文档</a>)。在Oracle的时候，基本上我白天投入在写iOS程序中，晚上喜欢捣鼓一些小玩意。</p></div>
    <div class="col-md-4"><img src="images/RobotCar.jpg"></td></div>
    <div class="col-md-4"><p class="self-intro-words">I love to build thing that we can use every day. Actually, I am a day-time professional iOS programmer in Oracle and a night-time maker/hacker when I back home. This is the <a href= "http://www.youtube.com/watch?v=tbmCpkzOdfE&feature=plcp">WiFi Scale</a> I made recently.</p></div>
  </div>

  <div class="row">
    <div class="col-md-4"><p class="self-intro-words">我很喜欢滑雪。这是我的<a href="http://www.linkedin.com/in/longyi">linkedin主页</a></p></div>
    <div class="col-md-4"><img src="images/Ski.jpg"></div>
    <div class="col-md-4"><p class="self-intro-words">My favorite sport is Skiing. To learn more about me, see my Linkedin profile <a href="http://www.linkedin.com/in/longyi">here</a>.</p></div>
  </div>
</div>
